:root {
  --background-color: #11141a;
  --lighter-color: #4e586e;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: var(--background-color);
  z-index: -1000;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.header-wrapper {
  padding-top: 74px;
}

.page-header {
  position: fixed;
  top: 1rem;
  left: 10px;
  right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: 4rem;
  padding: 10px 10px 10px 20px;

  background-color: rgba(77, 85, 91, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 2000px;
  z-index: 1000;
}

.logo {
  line-height: 18px;
}

.phone-call {
  display: block;
  padding: 10px 20px 10px 32px;

  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;

  color: #11141a;
  border-radius: 1000px;

  background-color: #fff;
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px 8px;
}

.hero {
  overflow: hidden;
}

.hero-container {
  position: relative;
  min-height: 300px;
  max-width: 1280px;
}

.title-container {
  position: absolute;
  bottom: 0;
  background-color: #11141ab6;
  box-shadow: 0 0 50px 10px #11141a;
  z-index: 10;
}

.hero-title {
  padding-left: 10px;
  font-size: 24px;
  text-transform: uppercase;
}

.hero-img {
  position: absolute;
  height: 300px;
  right: -40px;
  bottom: 0;
  z-index: 0;
}

.contacts-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts-title {
  font-size: 23px;
  text-align: center;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  display: flex;
  height: 4rem;
  border-radius: 30px;
  overflow: hidden;
}

.social-item span {
  font-weight: bold;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 10px 20px;
}

.social-icon {
  height: 30px;
}

.social-telegram {
  border: 2px solid rgb(46, 146, 210);
  box-shadow: inset 0px -17px 20px -15px #2e92d2;
}

.social-whatsapp {
  border: 2px solid #6dfba380;
  box-shadow: inset 0px -14px 20px -15px #6dfba3;
}

.social-instagram {
  border: 2px solid #af5086;
  box-shadow: inset 0px -17px 20px -15px #af5086;
}

.telegram-icon {
  filter: drop-shadow(0px 0px 4px #2e92d2);
}

.whatsapp-icon {
  filter: drop-shadow(0px 0px 4px #6dfba3);
}

.instagram-icon {
  filter: drop-shadow(0px 0px 4px #af5086);
}

.telegram-name {
  color: #2e92d2;
}

.whatsapp-name {
  color: #6dfba3;
}

.instagram-name {
  color: #af5086;
}

.page-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid var(--lighter-color);
}

.copyright {
  margin: 0;
  font-size: 15px;
  text-align: center;
  color: #8d8d8d;
}

.big-size {
  font-size: 36px;
}

@media (max-width: 350px) {
  .social-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 330px) {
  .social-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
